<h1>Search Users</h1>
{{#if error}} <span>{{error}}</span> {{/if}}
<form class="form-inline" action="/user/search" method="POST">
    <div class="form-group">
        <input type="text" name="id" class="form-control" placeholder="Search Users">
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
</form>